.circle {
    background-color: #000;
    position: absolute;
    border-radius: 300px;
    position:absolute;
    top: 45%;
    left: 45%;
    width: 200px;
    height: 200px;
    z-index: 2;
    box-shadow: 0 0 50px 60px #000;

}